	<div class="success"> Saved! </div>
<div data-user="<%= current_user.id %>" class="container">
	<div id="index">
		<div class="side-contain">
			<aside></aside>
		</div>
	</div>

	<div class="trailer"></div>

	<div class="user-show" id="user-movies">
		<p> my movies </p>
		<% @movies.each do |movie| %>
			<div data-title="<%= movie.title %>" class="user-show">
				<img src="<%= movie.poster %>">
				<button class="watch-trailer">Trailer</button>

				<a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%= movie.title %>&dates=<%= movie.formatted_date %>T230807Z/<%= movie.formatted_date %>T003807Z&details=&location=&sprop=&sprop=name:#f" name="addtocalendar" title="Add to Calendar" >
    			<button>Add to Google Calendar</button>
				</a>
			</div>
		<% end %>


	</div>

	<div class="map-input">
		<div id="map"></div>

		<input type="text" placeholder="20850">
		<button> Find movies </button>
	</div>

	</div>