<header> 
	<!-- <img src="/assets/headerlogo.svg"> -->
	<%= image_tag ('headerlogo.svg') %> 
	<ul>
		<% if current_user %>
			<li id="usermovies"><%= 'My Movies' %></li>
			<li id="comingsoon"><%= 'Coming Soon' %></li>
			<li id="outnow"><%= 'In Theaters' %></li>
			<li> <%= link_to "Log out", sign_out_path, method: 'delete' %> </li>
		<% else %>
			<li> <%= link_to "Log in", sign_in_path %> </li>
			<li> <%= link_to "Browse Trailers", '/' %> </li>
		<% end %>
	</ul>
</header>