<!DOCTYPE html>
<html>
<head>
  <title>Trailers</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>

<%= yield %>

<%= javascript_include_tag 'application'%>
</body>
</html>
